@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
}

input {
    display: block;
    padding: 1rem;
    border: 1px solid rgb(179, 170, 170);
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
}

button:active {
    transform:scale(0.95);
    box-shadow: inset 1px 1px 1px gray;
}

.signup-form {
    /* display: none; */
}